{% load compressed %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  	<title>Nyasha [beta] - {% block title %}juick clone{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="imagetoolbar" content="no" />
    <meta name="description" content="Nyasha" />
    <meta name="keywords" content="bittorent, tracker, torrent, python, django, linux, framework" />
    <meta name="author" content="Apkawa"/>
    <link rel="icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon"/>
  {% compressed_css "generic" %}
  {% compressed_css "print" %}
  <!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <!--[if lt IE 7.]><script defer type="text/javascript" src="{{ MEDIA_URL }}js/pngfix.js"></script><![endif]-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript"><!--
reformal_wdg_domain    = "nyasha";
reformal_wdg_mode    = 0;
reformal_wdg_title   = "Nyasha - juick clone";
reformal_wdg_ltitle  = "Баги и фичреквесты";
reformal_wdg_lfont   = "";
reformal_wdg_lsize   = "";
reformal_wdg_color   = "#333333";
reformal_wdg_bcolor  = "#516683";
reformal_wdg_tcolor  = "#FFFFFF";
reformal_wdg_align   = "left";
reformal_wdg_charset = "utf-8";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#9FCE54";
reformal_wdg_cmline  = "#E0E0E0";
reformal_wdg_glcolor  = "#105895";
reformal_wdg_tbcolor  = "#FFFFFF";
 
reformal_wdg_bimage = "785c6819375d7a07d2f875164a6d2eca.png";
 //-->
</script>

  
  <!--Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20084447-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    {% block add_js %}
    {% endblock add_js %}

</head>
<body>
    <div class="container page">
        <!-- header -->
        <div class="span-24" id="header">
            <div class="span-16 prepend-1">
                <div class="span-4">
                <span id='header_brand'><a href="/">「nyasha」</a></span>

                </div>
                <div class="span-7 prepend-4">
                    {% block user_panel %}
                    {% endblock user_panel %}
                </div>
                <!-- <a href="/"><img src="http://s50.radikal.ru/i130/0901/ae/e80c1a5fa245.png" alt="「apkawa」"/></a> -->
                <div class="span-5">
                    <b>{% block header %}{% endblock %}</b>
                </div>
            </div>
            <div class="prepend-17">
                <img src="{{ MEDIA_URL }}images/logo-2.png" alt="" />
            </div>
                <div class="menu-wrapper span-16 prepend-1"> 
                    <div class="span-15" id="menu-block">
                        <div style="padding:12px;">
                            {% block menu %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
        </div>
        <!-- end header -->

        <!-- content -->
        <div class="span-16 prepend-1" id="content">
            {% block content %} 
            {% endblock content %}            
        </div><!-- end content -->
        <div class="span-6 last" id="right_sidebar">
            {% block right_sidebar %}
            {% endblock right_sidebar %}
        </div>

        <!-- footer -->
        <div class="span-24" id="footer">
            <br/>
            <div class="span-14 preprend-23 last a-right small">
                Copyright &copy; nya <br/>
                <script type="text/javascript" language="JavaScript" src="http://widget.reformal.ru/tab6.js"></script><noscript><div class='f-left'><a href="http://nyasha.reformal.ru">Nyasha - juick clone feedback </a> <a href="http://reformal.ru"><img src="http://reformal.ru/i/logo.gif" alt="" /></a></div></noscript>

            </div>

        </div>
        <!-- end footer -->
    </div>


</body>
</html>
