Django==1.3
PIL
South
django-compress
django-mptt
pyxmpp==1.1.1
wsgiref==0.1.2
yuicompressor==2.4.2
MySQL-python
dnspython
python-memcached
PyYAML
werkzeug

#dev
-e git+https://github.com/robhudson/django-debug-toolbar#egg=debug-toolbar
django-extensions

# in system
# libxml2
# libyaml
