<html>
	<head>
        <title>Nyash - clone juick {% block title %}{% endblock title %}</title>
    </head>
	<body>
        <div id="wrapper">
        	<div id="header">
                {% if user.is_authenticated %}
                    <a href="{% url user_blog user.username %}"><img src="{{ user.get_profile.avatar.url_22 }}"/>{{ user }}</a> <a href="{% url logout %}">{{ _("logout")|capfirst }}</a></br>
                <a href="{% url post_add %}">{{ _("add post")|capfirst }}</a>
                    
                {% endif %}
            </div>
        	<div id="content">
            {% block content %}
        	{% endblock content %}</div>
            <div id="footer">(c) Nya</div>
        </div>
    </body>
</html>
