{% for comment in comments %}
<div id="comment_{{ comment.pk }}">
    <div class="comment_header">
        <a href="{% url user_blog comment.user.username%}">@{{ comment.user.username }}</a>
    </div>
    <div class="comment_content">
        {{ comment.body_html|safe }}
    </div>
    <div class="comment_bottom">{{ comment.get_number }} {{ post.datetime|date:"SHORT_DATETIME_FORMAT" }} {% if comment.reply_to_id %} <a href="#{{ comment.reply_to.number }}">/{{ comment.reply_to.number }}</a>{% endif %}</div> 
</div>
    
{% empty %}
{% endfor %}
