{% load nya_blog %}
<div id="post_{{ post.pk }}" class="post span-15 kawaii">
    <div class="post_header">
        {% if post.user.profile.avatar %}
        <img class="small_avatar" src="{{ post.user.profile.avatar.url_22 }}"/>
        {% else %}
        <img class="small_avatar" src="{{ MEDIA_URL }}avatar/default/22.png" width="22" height="22">
        {% endif %}
        <a href="{% url user_blog post.user.username %}">@{{ post.user.username }}</a>: 
        {% if user_blog %}
            {% url user_blog post.user.username  as url_tag %}
        {% else %}
            {% url main as url_tag %}
        {% endif %}

        {% for tag in post.post_tags %}<a href="{{ url_tag }}?tag={{ tag.name }}">*{{ tag.name }}</a> {% endfor %}
    </div>
    <div class="post_content">
        {{ post.body|nya_markup|safe|linebreaksbr }}
    </div>
    <div class="post_bottom">{% if user.is_authenticated %}<a href="{% url reply_add post.id %}">{{ _("reply to")|capfirst }}</a>{% endif %}
        <a href="{% url post_view post.pk %}">{{ post.get_number }}</a> posted from {{ post.from_client }}, {{ post.datetime|date:"SHORT_DATETIME_FORMAT" }}; 
        {% if post.comments_count %}<a href="{% url post_view post.pk %}">{{ post.comments_count }} {{ _("replies")|capfirst }} </a>{% else %}{{ post.comments_count }} replies {% endif %}</div>
</div>
