{% extends root_template %}
{% block menu %}
    {% if user.is_authenticated %}
            <div id="user">
            {% if user.get_profile.avatar %}
            <img class="small_avatar" src="{{ user.get_profile.avatar.url_42 }}" alt=""/>
            {% else %}
            <img class="small_avatar" src="{{ MEDIA_URL }}avatar/default/42.png" width="42" height="42" alt=""/>
            {% endif %}
            <a href="{% url user_blog user.username %}">@{{ user }}</a>
            <a href="{% url profile_edit %}">{{ _("edit profile")|capfirst }}</a>
            <a href="{% url logout %}">{{ _("logout")|capfirst }}</a>
            </div>
        
        <a href="{% url post_add %}">{{ _("add post")|capfirst }}</a>
    {% endif %}
    <a href="{% url user_list %}">{{ _("user top")|capfirst }}</a>
    <a href="{% url help %}">{{ _("help")|capfirst }}</a>

{% endblock menu %}
