{% extends root_template %}
{% block user_panel %}
            <div id="user_panel">
    {% if user.is_authenticated %}
            {% if user.get_profile.avatar %}
            <img class="small_avatar" src="{{ user.get_profile.avatar.url_42 }}" alt=""/>
            {% else %}
            <img class="small_avatar" src="{{ MEDIA_URL }}avatar/default/42.png" width="42" height="42" alt=""/>
            {% endif %}
            <a href="{% url user_blog user.username %}">@{{ user }}</a>
            <div class="a-right">
                <a href="{% url profile_edit %}">{{ _("edit profile")|capfirst }}</a>
                <a href="{% url logout %}">{{ _("logout")|capfirst }}</a>
            </div>
    {% else %}
            <a href="{% url login %}">{{ _("login")|capfirst }}</a>
    {% endif %}
            </div>

{% endblock %}
{% block menu %}
    <ul>
    {% if user.is_authenticated %}
        <li> <a href="{% url post_add %}">{{ _("add post")|capfirst }}</a>
</li>
    {% endif %}
<li>
    <a href="{% url user_list %}">{{ _("user top")|capfirst }}</a>
</li>
<li><a href="{% url help %}">{{ _("help")|capfirst }}</a></li>
    </ul>

{% endblock menu %}
