{% extends "blog/base.html" %}
{% block content %}
<p>Чтобы начать вести микроблог на нашем сайте, достаточно открыть свой
любимый Jabber-клиент и добавить в список контактов пользователя
<b>{{ settings.JABBER_BOT_SETTINGS.jid }}</b>. Предварительная регистрация на сайте не требуется.
Теперь всё, что вы напишете этому пользователю, будет опубликовано в вашем
микроблоге.</p>

<h2>Псевдоним (ник)</h2>
<p>У некоторых пользователей Jabber ID совпадает с почтовым адресом. Если вы не
хотите, чтобы ваш адрес отображался на сайте, вы можете выбрать себе псевдоним
(ник). Для этого воспользуйтесь командой:<br>
<strong>NICK <i>новыйник</i></strong>.</p>
<p>В имени ника разрешается использовать только латинские буквы, цифры и дефис.
Ник не может состоять только из цифр. Длина ника — от 2 до 16 символов.
Строчные и заглавные буквы различаются, но занять ваш ник в другом написании
никто не сможет.</p>
<p>Вы можете изменить ник в любой момент. Ваши подписки и подписки других
пользователей на ваш блог остаются в силе. С адреса вида

<b>{{ settings.SERVER_DOMAIN }}/jid@domain.com/</b> на новый адрес <b>{{ settings.SERVER_DOMAIN }}/nick/</b>
устанавливается перенаправление.</p>

<h2>Личная информация</h2>
<p>Вверху всех микроблогов отображается информация об авторе. Эти данные
загружаются автоматически из визитки (vCard).</p>

{% comment %}
<h2>Статус</h2>
<p>Если вы авторизуете контакт Juick-а, то он будет показывать ваш статус в
заголовке блога.</p>
{% endcomment %}

<h2>Ответы</h2>
<p>Для ответа на сообщение #n: наберите «решетку», номер чужого сообщения и,
через пробел, текст вашего ответа.<br>
Например: <strong>#1234 Спасибо, отличная ссылка!</strong></p>
<p>Для ответа на другой комментарий к сообщению:<br>
<strong>#1234/5 Да, я тоже так думаю.</strong></p>
<p>Если вы отвечаете на сообщение другого комментатора (не владельца блога),
то имя этого комментатора автоматически добавится впереди вашего сообщения.</p>

<h2>Теги</h2>

<p>Чтобы добавить тег к сообщению, наберите «звездочку», затем сам тег и, через
пробел, текст вашего сообщения.<br>
Например: <strong>*тест Пример использования тегов. ;)</strong></p>
<p>Чтобы добавить тег к уже опубликованному посту, воспользуйтесь командой вида:
<strong>#12345 *имятега</strong>. Если такой тег уже был указан, он будет удален.</p>

<h2>Рекомендации</h2>
<p>Если вам понравился какой-то пост, им можно поделится со всеми своими
подписчиками (кроме тех, которые его уже видели) с помощью команды:<br>
<strong>! #12345</strong>.</p>

<h2>Подписка на комментарии</h2>
<p>Если вы отправляете ответ на запись из чужого блога, вы автоматически
подписываетесь на комментарии к этой записи. Так что, если кто-то ответит на
ваш комментарий, вам придет сообщение.</p>

{% comment %}
<h2>Выделение текста</h2>
<p>В тексте сообщений можно выделять слова и словосочетания <b>*жирным*</b>,
<i>/курсивом/</i> и <span style="text-decoration: underline;">_подчеркиванием_</span>. Чтобы эти символы преобразовались
на вашей странице в нужный шрифт, необходимо, чтобы перед начальным и после
конечного символа выделения «*», «/» или «_» стоял пробел или перевод строки.</p>
{%endcomment %}

<h2>Ссылки</h2>
<p>Если в сообщении вы укажете адрес сайта (URL), то он автоматически
преобразуется в ссылку. Чтобы дать ссылку на блог пользователя, укажите
его ник или Jabber ID следующим образом: <strong>@ник</strong>. Ссылку на
сообщение можно дать так: <strong>#1234</strong>.</p>
<p>Адрес, ник и номер сообщения должны быть отделены от предшествующего и
последующего текста пробелом или переводом строки.</p>

<h2>Команды</h2>
<p>Помимо обычных сообщений, вы также можете отсылать специальные команды:</p>

<p style="color: red;"><b>Обратите внимание: команды нужно вводить заглавными буквами!</b></p>

<p><strong>HELP</strong> — показать краткую справку по командам.</p>
<p><strong>NICK новыйник</strong> — установить псевдоним (ник).</p>
<p><strong>LOGIN</strong> — получить уникальную ссылку для авторизации на сайте.</p>
<p><strong>#</strong> — показать последние сообщения из вашей личной ленты (<strong>##</strong> — вторая страница, ...).</p>

<p><strong>#+</strong> — показать последние 10 сообщений из общей ленты.</p>
<p><strong>@</strong> — показать список популярных персональных блогов.</p>
<p><strong>*</strong> — показать список популярных тегов.</p>
<p><strong>#1234</strong> — показать текст сообщения #1234.</p>
<p><strong>#1234+</strong> — показать текст сообщения #1234 и комментарии к нему.</p>

<p><strong>@ник</strong> — показать информацию про пользователя. Вместо ника можно указывать Jabber ID пользователя.</p>
<p><strong>@ник+</strong> — показать информацию про пользователя и 10 последних сообщений из его блога. Вместо ника можно указывать Jabber ID пользователя.</p>
<p><strong>*тег</strong> — показать 10 последних сообщений с этим тегом.</p>
<p><strong>S</strong> — вывести список всех блогов, на которые вы подписаны.</p>
<p><strong>S #1234</strong> — подписаться на комментарии к этому сообщению.</p>

<p><strong>S @ник</strong> — подписаться на микроблог этого пользователя. Вместо ника можно указывать Jabber ID пользователя.</p>
<p><strong>U #1234</strong> — отменить подписку на комментарии к этому сообщению.</p>
<p><strong>U @ник</strong> — отменить подписку на блог пользователя. Вместо ника можно указывать Jabber ID пользователя.</p>
{% comment %}
<p><strong>ON</strong> и <strong>OFF</strong> — включает и выключает доставку через Jabber новых сообщений, на которые вы подписаны.</p>

<p><strong>ON+</strong> — включает доставку и показывает последние 10 сообщений, которые вы пропустили, пока доставка была выключена.</p>
{% endcomment %}
<p><strong>D #1234</strong> — удалить запись #1234.</p>
<p><strong>D L</strong> — удалить вашу последнюю запись.</p>
{% comment %}
<p><strong>BL</strong> — показать ваш "чёрный список" пользователей и тегов.</p>
<p><strong>BL @ник</strong> — добавить/удалить пользователя из вашего "чёрного списка". Вместо ника можно указывать Jabber ID пользователя.</p>

<p><strong>BL *тег</strong> — добавить/удалить тег из вашего "чёрного списка".</p>
<!--<p><strong>WL</strong> &mdash; показать ваш &quot;белый список&quot; пользователей.</p>
<p><strong>WL @ник</strong> &mdash; добавить/удалить пользователя из вашего &quot;белого списка&quot;. Вместо ника можно указывать Jabber ID пользователя.</p>-->
<p><strong>PM @ник текст</strong> — отослать пользователю личное сообщение.</p>
<p><strong>INVITE user1@example.org user2@example.org</strong> — отослать приглашение пользователям (до 10 Jabber ID, через пробел) от вашего имени.</p>
{% endcomment %}
<p><strong>VCARD</strong> — обновить информацию о вас из vCard.</p>

<p><strong>PING</strong> — проверка связи. :)</p>

{% comment %}
<h2 id="DELETEALL">Удаление аккаунта</h2>
<p>Когда вы отправляете первое сообщение в Juick, автоматически создается новый
аккаунт для вашего Jabber ID. В случае, если аккаунт был создан по ошибке, а
вы хотите указать этот Jabber ID в настройках другого аккаунта, отправьте
команду <strong>DELETEALL</strong>. Будьте внимательны, аккаунт удаляется без
возможности восстановления.</p>

<h2>Личные сообщения</h2>
<p>С помощью команды <strong>PM</strong> вы можете отослать через Jabber личное
сообщение пользователю, чей Jabber ID скрыт. Ваши ник и Jabber ID будут указаны
в тексте сообщения.</p>

<h2>Рекомендуемые клиенты</h2>
<p>Обратите внимание на Jabber-клиент <a href="http://pidgin.im/" rel="nofollow">Pidgin</a>.
Это бесплатная мультиплатформенная программа, позволит вам комфортно общаться и
вести свой микроблог.</p>
</div>
{% endcomment %}
{% endblock content %}
