{% extends "blog/base_page.html" %}
{% block add_js %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready( function() {
                                    
                });
    </script>
    <script src="https://s3-eu-west-1.amazonaws.com/s1.loginza.ru/js/widget.js" type="text/javascript"></script>
{% endblock add_js %}
{% block page_head %}
    <h1>{{ _("login")|capfirst }}</h1>
{% endblock page_head %}
{% block page %}
    <h2>Зайти в вебморду можно несколькими способами.</h2>
    <ol>
        <li><h3>Традиционный способ</h3> 
            <p>Добавьте в ростер бота <strong>{{ settings.JABBER_BOT_SETTINGS.jid }}</strong></p>
            <p>Отправьте ему сообщение <strong>LOGIN</strong>, он вернет вам уникальную ссылку для логина, которая будет действовать в течение 3 минут</p>
        </li>
        <li>
        	<h3>Используя OpenID провайдер</h3>
            <p>
                Если профиля еще нет в системе, то автоматически сгенерируется новый.
            </p>
            <p>
                {% for provider_key, provider_name in providers %}
            {% endfor %}
            <table class="noborder">
                {% for provider_key, provider_name in providers %}
                    <!-- {% cycle 'one' 'two' 'three' as row_cycle %} -->
                    {% if row_cycle == 'one' %}
                        <tr>
                    {% endif %}
                    <td>
                    <a href="https://loginza.ru/api/widget?lang=en&provider={{ provider_key }}&token_url={% filter urlencode %}http://{{ request.get_host }}{% url openid_login provider_key secret_hash %}?redirect_url={% url login %}{% endfilter %}" class="loginza">
                        <img src="https://s3-eu-west-1.amazonaws.com/s1.loginza.ru/img/widget/{{ provider_key }}.png" alt="Войти через {{ provider_name }}" />
                
                    </a>
                    </td>
                    {% if row_cycle == 'three' %}</tr>{% endif %}
            {% endfor %}
        </table>
            </p>
        </li>
    </ol>
{% endblock page %}
