{% extends "blog/base_page.html" %}
{% block page_head %}
    <h1>Add post/comment</h1>
{% endblock page_head %}
{% block page %}
    <div class="form_wrap span_15">
    <form action="." method="POST">
        {% csrf_token %}
    <table>
        <tbody>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                	<button type="submit">{{ _("scat!")|capfirst }}</button>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>
{% endblock page %}
