{% extends "blog/base.html" %}
{% load mptt_tags %}
{% load nya_blog %}
{% block content %}
    <div id="content_header" class="span-15">
    {% with post.user.get_profile as user_profile %}
        {% include "blog/_user_info_short.html" %}
    {% endwith %}
    </div>
    {% include "blog/_post_piece.html" %}
    <div>
        {% if recommends %}
            {{ _("recommends")|capfirst }}: {% for r in recommends %}
                <a href="{% url user_blog r.user.username %}">@{{ user.username }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <h2 class="span-5">{{ _("Replies")|capfirst }} ({{ post.comments_count }})</h2>
    <div id="toggle_mode" class="prepend-8 span-1 last">
    <form method="get" action="">
        <input type="hidden" name="tree" value="{% if not is_tree %}1{% endif %}"/>
        <button>{% if not is_tree %}{{ _("tree")|capfirst }}{% else %}{{ _("linear")|capfirst }}{% endif %}</button>
    </form>
    </div>
    {% if page.has_other_pages %}
    <div class="paginator span-15">
        {% if page.has_previous %}
            <div class='page_newer'>
                <a href="?page={{ page.previous_page_number }}">{{ "←" }} {{ _("older")|capfirst }}</a>
                <a href="?page=1">{{ "" }} {{ _("first")|capfirst }}</a>
            </div>
        {% endif %}
        {% if page.has_next %}
            <div class='page_older'>
                <a href="?page={{ page.paginator.num_pages }}">{{ "" }} {{ _("last")|capfirst }}</a>
                <a href="?page={{ page.next_page_number }}">{{ _("newer")|capfirst }} {{ "→" }}</a>
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div id="comments_wrap" class="span-15">
    {% if is_tree %}
        {% for comment, structure in comments|tree_info %}
            {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
                {% include "blog/_comment_piece.html" %}
            {% for level in structure.closed_levels %}</li></ul>{% endfor %}
        {% endfor %}
    {% else %}
        <ul>
        {% for comment in comments %}
            <li>
                {% include "blog/_comment_piece.html" %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated and not reply_to %}
    <div id="content_footer">
        <div id="comment_reply">
            <a name="reply_to"></a>
            <form action="{% url post_view post.pk %}" method="POST">
                {% csrf_token %}
                <table class="noborder">
                    <tbody>
                        <tr>
                            <td>{{ reply_form.body }}</td>
                        </tr>
                        <tr>
                            <td><button type="submit">{{ _("scated")|capfirst }}</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    {% endif %}
    {% if page.has_other_pages %}
    <div class="paginator span-15">
        {% if page.has_previous %}
            <div class='page_newer'>
                <a href="?page={{ page.previous_page_number }}">{{ "←" }} {{ _("older")|capfirst }}</a>
                <a href="?page=1">{{ "" }} {{ _("first")|capfirst }}</a>
            </div>
        {% endif %}
        {% if page.has_next %}
            <div class='page_older'>
                <a href="?page={{ page.paginator.num_pages }}">{{ "" }} {{ _("last")|capfirst }}</a>
                <a href="?page={{ page.next_page_number }}">{{ _("newer")|capfirst }} {{ "→" }}</a>
            </div>
        {% endif %}
    </div>
    {% endif %}
    </div>
{% endblock content %}

{% block right_sidebar %}
    {% if user_blog %}
    <div class="sidebar_wrapper">
         {% include "blog/_user_blog_sidebar.html" %}
    </div>
    {% endif %}
        {% tags_cloud user_blog %}
{% endblock right_sidebar %}
