{% extends "blog/base.html" %}
{% block content %}
    {% with post.user.get_profile as user_profile %}
    <h2>@{{ post.user.username }} ({{ user_profile.name|default:_("noname") }})</h2>
            {% if user_profile.avatar %}
                <img src="{{ user_profile.avatar.url }}"/>
            {% else %}
                <img src="{{ MEDIA_URL }}avatar/default/100.png" width="100" height="100">
            {% endif %}
    {% endwith %}
    {% include "blog/_post_piece.html" %}
    <h3>{{ _("Replies")|capfirst }} ({{ post.comments_count }})</h3>
    {% for comment in comments %}
        {% include "blog/_comment_piece.html" %}
    {% empty %}
    {% endfor %}
{% endblock content %}
