{% extends "blog/base.html" %}
{% load cache %}
{% load nya_blog %}
{% block content %}
    <div id="content_header" class="span-15">
    {% if user_blog %}
        {% with user_blog.get_profile as user_profile %}
            {% include "blog/_user_info_short.html" %}
        {% endwith %}
    {% else %}
        <h2>{{ _("last messages")|capfirst }}</h2>
    {% endif %}
    </div>
    <div id="posts_wrapper">
        {% include "blog/_posts_piece.html" %}

    <div class="paginator span-15">
        {% if  page.has_previous %}
            <div class='page_newer'>
                <a href="?page={{ page.previous_page_number }}">{{ "←" }} {{ _("newer")|capfirst }}</a>
            </div>
        {% endif %}
        {% if  page.has_next %}
            <div class='page_older'>
                <a href="?page={{ page.next_page_number }}">{{ "older"|capfirst }} {{ "→" }}</a>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock content %}

{% block right_sidebar %}
        {% include "blog/_feed_sidebar.html" %}
        {% if user_blog %}
            <div class="sidebar_wrapper">
                     {% include "blog/_user_blog_sidebar.html" %}
            </div>
        {% endif %}
        {% tags_cloud user_blog %}
        {% user_top_sidebar %}
        {% post_comment_sidebar %}
        
{% endblock right_sidebar %}
