<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Juick: Моя лента</title>
<link rel="icon" type="image/png" href="http://i.juick.com/favicon.png"/>
<link rel="stylesheet" type="text/css" href="http://i.juick.com/style.css?2010120300"/>
<link rel="stylesheet" type="text/css" href="http://i.juick.com/d/2/style.css?2010120300"/><script type="text/javascript" src="http://i.juick.com/scripts.js?2010120300"></script>
<script type="text/javascript" src="http://i.juick.com/swfobject.js"></script>
</head>

<body>

<div id="header">

<div id="hlinks">
  <div id="logo"><a href="/?show=my"><span>juick</span></a></div>
    <div class="button uname"><img src="http://i.juick.com/as/7369.png" alt="nya"/>nya<ul>      <li><a href="http://juick.com/my">Блог</a></li>
      <li><a href="http://juick.com/settings">Настройки</a></li>
      <li><a href="http://juick.com/logout">Выйти</a></li>
</ul></div>  <div class="button linkbutton help"><a href="/help/">?</a></div>  <div class="button linkbutton post"><a href="/post">Написать</a></div>  <ul>

    <li><a href="/?show=my">Сообщения</a></li>    <li><a href="/photos">Фотографии</a></li>    <li><a href="/map">Карта</a></li></ul>
</div>
</div>
<div id="submenu"><ul><li><a href="/?show=my" class="active">Моя лента</a></li><li><a href="/">Все</a></li><li><a href="/?show=top">Популярные</a></li><li><a href="/?show=photos">С фото</a></li></ul></div>

<div id="pagetitle">
<h1>Моя лента</h1>

</div>
<div id="wrapper">
    <div id="content">
    </div>
</div>

<div class="br"></div>

<div id="fwrapper"><div id="footer"><div id="footer-right"><a href="#" onclick="return choosedesign();">Дизайн</a> &#183; <a href="/help/contacts">Контакты</a> &#183; <a href="/help/">Справка</a></div><div id="footer-left">juick.com &copy; 2008-2010</div></div></div>
</body>

</html>

